<!-- <html>
    <body>
       <form method="post" action="\data">
           <h1> This Is Home Page</h1><br>
        <input type="text" name="first_name" placeholder="first name" required="required"> <br>
        <input type="text" name="second_name" placeholder="second name" required="required"> <br>
        <input type="number" name="phone_number" placeholder="phone number" required="required"> <br>
        <input type="email" name="email" placeholder="email" required="required"> <br>
        <button>Submit</button>
       </form>
    </body>
</html> -->


<html>
    <body>
       <form method="post" action="\data">
           <h1> This Is Home Page</h1><br>
        <input type="number" name="preg" placeholder="preg " required="required"> <br>
        <input type="number" name="plas" placeholder="plas" required="required"> <br>
        <input type="number" name="pres" placeholder="pres" required="required"> <br>
        <input type="number" name="skin" placeholder="skin" required="required"> <br>
        <input type="number" name="test" placeholder="test" required="required"> <br>
        <input type="number" name="mass" placeholder="mass" required="required"> <br>
        <input type="number" name="pedi" placeholder="pedi" required="required"> <br>
        <input type="number" name="age" placeholder="age" required="required"> <br>
        <button>Submit</button>
       </form>
    </body>
</html>